# Python
.vscode/
__pycache__/
*.py[cod]
*$py.class

.hypothesis/
.pytest_cache/

.ipynb_checkpoints


# C++
*.slo
*.lo
*.o
*.obj

*.exe
*.out
*.app

# F#
.ionide/
*.dll

# Java related
*.jar

# programming contests
*.in
*.out
*.txt
